<head>
    {% if title %}
    <title>{{ title }} - Gestor de Gastos</title>
    {% else %}
    <title>Gestor de Gastos</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('transaccion') }}">Transacción</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="button">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="button">Log in</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
